<div class="modal fade" id="modal-edit">
    <div class="modal-dialog modal-lg">
        <div id="modal-content-edit" class="modal-content">
            <div class="">Contenido</div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
